input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}


table.table-analysis td:nth-child(1) {
    width: 80px;
}
table.table-analysis td:nth-child(2) {
    width: 200px;
}
table.table-analysis td:nth-child(6) {
    width: 90px;
}
.badge-default {
  background-color: #8aa392;
}
.badge-warning {
  background-color: #edd851;
  color: #484848;
}
.badge-danger {
  background-color: #ed5151;
  color: #ffffff;
}
.badge {
  padding: 8px 15px;
  color: #fff;
  font-weight: 700;
  border-radius: 4px;
}
