{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="flex-grid" id="post-submission">

    <header class="flex-grid__header">
        <ul class="breadcrumbs">
            <li class="done"><a href="#">提交文件</a></li>
            <li class="done"><a href="#">配置</a></li>
            <li class="done"><a href="#">分析</a></li>
            <li class="active"><a href="#">概要</a></li>
        </ul>
        <h3>
            <i class="fa fa-check"></i> 您的提交已被接收，正在处理中
            <div class="pull-right">
                <a class="flex-grid__button--description">下一操作: </a>
                <a class="flex-grid__button transparent" href="/analysis/pending">查看等待中任务</a>
                <a class="flex-grid__button transparent" href="/submit">再次提交</a>
            </div>
        </h3>
    </header>

    <section class="flex-grid__body--center background-grey">
        <div class="flex-grid__container">
            <div class="flex-grid__column scrollable">

                <h3 class="clearfix">任务: <small>每2.5秒自动刷新</small></h3>
                <table class="cuckoo-table" id="submission-task-table">
                    <thead>
                        <tr>
                            <th>任务ID</th>
                            <th>Date</th>
                            <th>文件名 / URL</th>
                            <th>分析类型</th>
                            <th>状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td colspan="5">
                            {% include "components/loader.html" %}
                        </td>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" align="center">
                                <p class="ajax-status">Loading task info...</p>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </section>

    <footer class="flex-grid__footer">
        <p class="footnote">
            &copy;中国信息安全评测中心</a>
        </p>
        <div class="logo">
            <img src="{% static "graphic/cuckoo_inverse.png" %}" alt="Cuckoo Malware Analysis Sandbox" />
        </div>
    </footer>

</div>

<script type="text/javascript">var task_ids = [{{ task_ids|join:", " }}];</script>

{% endblock %}
